<%- partial('_partial/logo') %>
<%- partial('_partial/nav') %>

<!-- list -->
<div class="list">
    <% var last; %>
        <% page.posts.each(function (post) { %>
            <% var year = post.date.year(); %>
            <% if (last != year){ %>
                <!-- 年份 -->
                <h2 class="masked p_left"><%= year %></h2>
                <% last = year; %>
            <% } %>
    <div>
        <span class="left">
            <%- full_date(post.date, 'MM-DD') %>
        </span>
        <span class="right m_left">
            <!-- <a href="<%- post.link ? post.link : url_for(post.path) %>"><%= post.linktitle ? post.linktitle : post.title %></a> -->

        <%  if (post.linktitle && post.linktitle.length) { %> 
            <font><a href="<%- url_for(post.link) %>"><%= post.linktitle %></a></font>
        <% } else if (post.title && post.title.length) { %> 
            <font><a href="<%- url_for(post.path) %>"><%= post.title %></a></font>
        <% } else if (post.notcontent && post.notcontent.length) { %> 
            <font><%= post.notcontent %></font>
        <% }  %>

        <% if (post.excerpt && post.excerpt.length && post.photos && post.photos.length) { %> 
        <!-- 不加more或加more 加photos图 -->
            <i><%- post.excerpt %></i>
            <% post.photos.forEach(function(photo, i){ var photoInfo = post.photoInfos && post.photoInfos[i]; %>
                <div class="imgcenter">
                    <img class="initImg" src="<%- url_for(photo) %>" alt="">
                </div>
            <% }) %>
        <% } else if( post.excerpt && post.excerpt.length){ %>
            <i><%- post.excerpt %></i>
        <% } else if( post.photos && post.photos.length){ %>
            <% post.photos.forEach(function(photo, i){ var photoInfo = post.photoInfos && post.photoInfos[i]; %>
                <div class="imgcenter">
                    <img class="initImg" src="<%- url_for(photo) %>" alt="">
                </div>
            <% }) %>
        <% } else if( post.link && post.link.length){ %>
                <i>当前会跳转到 <%- post.link %></i>
        <% } %>

        <!-- tags 
        <% if (post.tags && post.tags.length){ %>
          <%- list_tags(post.tags, {
            show_count: false,
            class: 'post-tag'
          }) %>
        <% } %>
        -->

        </span>
    </div>         
    <% }) %>
</div>


