<%- partial('_partial/logo') %>
<%- partial('_partial/nav') %>
<!-- 内容 -->
<div class="cont">
<div style="position:relative">
<!-- <i class="xf te" onclick="window.history.go(-1)">➜</i>  -->

<%= page.title %>
<p><%= date(page.date, "YYYY/MM/DD") %>
</div>
<%- page.content %> 
</div>

<!-- tags -->
<% if (page.tags && page.tags.length){ %>
  <%- list_tags(page.tags, {
    show_count: false,
    class: 'post-tag'
  }) %>
<% } %>

<!-- 评论 -->





<!-- 上一篇 下一篇 -->
<div class="prev_next">

 <% if (page.prev) { %>         
     <% if (page.prev.linktitle) { %>
        <a href="<%- url_for( page.prev.link) %>">
        上一篇&nbsp;&nbsp;<%= page.prev.linktitle %>
        </a>
     <% } else if(page.prev.title){ %>
        <a href="<%- url_for( page.prev.path) %>">
        上一篇&nbsp;&nbsp;<%= page.prev.title %>
        </a>
     <% } else if(page.prev.notcontent){ %>
        上一篇&nbsp;&nbsp;<%= page.prev.notcontent %> 无详细内容
     <% } %>

<% }%>

<% if (page.next){ %>
    <% if (page.next.linktitle) { %>
        <a href="<%- url_for( page.next.link) %>">
        下一篇&nbsp;&nbsp;<%= page.next.linktitle %>
        </a>
     <% } else if(page.next.title){ %>
        <a href="<%- url_for( page.next.path) %>">
        下一篇&nbsp;&nbsp;<%= page.next.title %>
        </a>
     <% } else if(page.next.notcontent){ %>
        下一篇&nbsp;&nbsp;<%= page.next.notcontent %> 无详细内容
     <% } %>

<% } %>
</div>

<!-- 留言 -->
<% if (theme.valine.enable && page.comments) { %>
    <div id="vcomments"></div>
<% } %>