<!-- 分页 -->
<%- partial('_partial/paginator') %>

<!-- footer -->
<div class="lower_right">
    <a href="#top" class="goTop style_">TOP</a>
    <div class="style_">
        <label class="el-switch el-switch-blue el-switch-sm" style="display: inline-block; width: 100%; cursor: pointer;">
            <input type="checkbox" name="switch" id="update_style">
            <span class="el-switch-style"></span>
        </label>
    </div>
</div>

<div class="footer" id="footer">
    <%= config.author %> <a href="<%- theme.hexo_links %>"><%= config.thanks %></a>
</div>

<!-- 评论 -->
<input type="hidden" id="web_style" value="<%= theme.style %>">
<input type="hidden" id="valine_appid" value="<%= theme.valine.appId %>">
<input type="hidden" id="valine_appKey" value="<%= theme.valine.appKey %>">
<%- js('libs/jquery.min.js') %>
<%- js('libs/highlight/highlight.pack.js') %>
<script src='//cdn.jsdelivr.net/npm/valine@1.3.10/dist/Valine.min.js'></script>
<%- js('js/js.js') %>
